<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SoundTracks collection 2022</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />

  </head>
    <body>
      <div class="start">
        <h1>press space to enter</h1>
      </div>
           
    </body>
    <script>
        document.addEventListener('keydown', (e) => {
            if (e.key === " ") {
                window.location.replace("{{url_for('tracks_bp.view_all_tracks')}}");
            }}
        );
    </script>

  </html>